<section class="home-page">
  <img src="https://img.icons8.com/fluency/512/money-bag.png"/>
  <h1>Budget Tracker</h1>
  <%= link_to 'Log In', new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
</section>