<section class="home-page">
  <h1>Budget Tracker</h1>
  <div>
    <%= button_to 'SIGN IN', new_user_session_path, method: :get %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get %>
  </div>
</section>