<div id="<%= dom_id user %>" class="space-y-2">
  <p class="font-semibold">
    <strong>Name:</strong>
    <span class="text-gray-600"><%= user.name %></span>
  </p>
  <p class="font-semibold">
    <strong>Email:</strong>
    <span class="text-gray-600"><%= user.email %></span>
  </p>
  <p class="font-semibold">
    <strong>Register date:</strong>
    <span class="text-gray-600"><%= user.created_at %></span>
  </p>
</div>
