<nav class="bg-blue-600 p-4">
  <div class="container mx-auto flex items-center justify-between">
    <% if user_signed_in? %>
      <%= link_to "Back", @user, class: "text-white text-2xl" %>
    <% end %>
    <h2 class="text-white text-2xl font-semibold">Edit User Info</h2>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white text-2xl" %>
    <% end %>  
  </div>
</nav>
<section class="bg-gray-100 min-h-screen flex flex-col items-center justify-center pt-16">
  <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-md">
    <%= render "form", user: @user %>
  </div>
</section>