@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #3778c2;
  --secondary-color: #5fb523;
  --text-color: #434b54;
}

html {
  font-size: 16px;
  color: var(--text-color);
}

body {
  min-height: 100vh;
}

img {
  width: 60px;
  height: 60px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--primary-color);
  height: 80px;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
