@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --primary-color: #0a3d62;
  --secondary-color: #292d36;
  --text-color: #d7d9db;
}

html {
  font-size: 16px;
  background: #f5f5f5;
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
  margin: 2px;
}

strong {
  color: var(--primary-color);
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

h1 span,
button span {
  color: var(--primary-color);
}

.sign-btns {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 15px;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 20px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--secondary-color);
}

nav div {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 auto;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.sign-in-page,
.sign-up-page,
.user-show-page,
.user-edit-page,
.group-index-page,
.group-show-page,
.new-group-page,
.transaction-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  padding: 0 10px 70px 10px;
  gap: 10px;
  z-index: 1;
}

.user-show-page a {
  color: var(--primary-color);
}

.home-page div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.group-item,
.groups a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background: #d3d3d3;
  color: var(--primary-color);
  width: 100%;
  transition: 0.5s ease-out;
}

.group-item:hover,
.groups a:hover {
  border-color: var(--primary-color);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.category-btn {
  width: 100%;
  background: var(--secondary-color);
  height: 60px;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-top: 1px solid var(--primary-color);
}

.transaction-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #d7d9db;
  color: var(--primary-color);
  width: 100%;
  border-radius: 5px;
}

.transaction-info a {
  font-size: 1rem;
  color: var(--primary-color);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

li {
  width: 25%;
  color: var(--primary-color);
  font-size: 0.8rem;
}

.card {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 220px;
  height: auto;
  background: #d7d9db;
  border-radius: 5px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.form {
  padding: 25px;
}

.card_header {
  display: flex;
  align-items: center;
}

.card span {
  color: var(--primary-color);
  margin-bottom: 20px;
  margin-right: 5px;
}

.form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color: var(--primary-color);
}

.field {
  padding-bottom: 10px;
}

.input,
select {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.input:focus-visible {
  outline: 1px solid var(--primary-color);
}

label,
em {
  color: var(--primary-color);
  display: block;
  padding-bottom: 4px;
}

input[type='submit'] {
  margin-top: 10px;
}

button,
input[type='submit'] {
  background-color: #2196f3;
  padding: 7px 15px;
  height: auto;
  font-weight: 500;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover,
input[type='submit']:hover {
  filter: brightness(1.1);
}

@media (min-width: 700px) {
  nav {
    padding: 20px 100px;
  }

  .card {
    width: 290px;
  }

  .groups {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .group-item,
  .groups a {
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 255px;
  }

  .transaction-info {
    width: 50%;
  }

  .transaction-info a {
    font-size: 1.3rem;
  }

  li {
    font-size: 1rem;
  }
}
