@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
}

:root {
  --primary-color: #d9c8c0;
  --secondary-color: #544e50;
  --text-color: #434b54;
}

html {
  font-size: 16px;
  color: var(--text-color);
  background: #e9e3e3;
  text-align: center;
}

img {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
  padding: 20px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav div {
  position: relative;
  margin: auto;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.sign-in-page,
.sign-up-page,
.user-show-page,
.user-edit-page,
.group-index-page,
.group-show-page,
.new-group-page,
.transaction-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  padding: 0 10px;
  gap: 20px;
  z-index: 1;
}

.home-page div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button,
input[type='submit'] {
  cursor: pointer;
  width: 200px;
  padding: 10px;
  background: var(--secondary-color);
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
}

button:hover,
input[type='submit']:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

button:active,
input[type='submit']:active {
  transform: translateY(1px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.group-item,
.groups a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background: #f5f5f5;
  width: 100%;
  border: 1px solid #fff;
  transition: 0.5s ease-out;
}

.group-item:hover,
.groups a:hover {
  border-color: var(--secondary-color);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.category-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--secondary-color);
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.category-btn button {
  width: 300px;
  height: 60px;
}

.transaction-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 700px) {
  nav {
    padding: 20px 100px;
  }

  .groups {
    flex-direction: row;
    flew-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .group-item,
  .groups a {
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 255px;
  }
}
