<div id="<%= dom_id expense %>">
  <p class="font-medium">
    <strong>User:</strong>
    <%= expense.user_id %>
  </p>
  <p class="font-medium">
    <strong>Name:</strong>
    <%= expense.name %>
  </p>
  <p class="font-medium">
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>
</div>
